/*.pyc
/__pycache__

example/ads-token.secret

example/*.aux
example/*.out
example/*.log*
example/*.pdf
example/cv.tex
example/pubs.tex
example/pubs.html

example/*/*.aux
example/*/*.out
example/*/*.log*
example/*/*.pdf
example/*/cv.tex
example/*/cv.html
example/*/pubs.tex
example/*/pubs.html